*{
	margin:0;
	padding: 0;
	text-decoration: none;
	font-family: Arial, sans serif;
}
html,
body{
	height: 100%;
	background-color: black;
	min-height: 100%;
	width: 100%;
}
.wrap{
	position: relative;
	width: 100%;
	min-height: 100%;
}

header{
	width: 100%;
	height: 45px;
    background-color: #292929;
}	
.menu{
	display: block;
	width: 100%;
	height: 55px;
	background-color: black;
	border-bottom: 5px solid #c72107;
}
.logo{
	left: 20px;
	position: absolute;
	margin: 8px;
	width: 110px;
	height: 110px;
	background-image: url(img/dota2.png);
	background-size: 110px 110px;
	transform: rotate(-20deg);
	z-index: 1;
}
.reg{
	color: #696969;
	display: inline-block;
	float: right;
	width: 270px;
	height: 100%;
}
#mainImage{
	position: absolute;
	background-image: url(img/dota.jpg);
	background-size: 100% 500px;
	width: 100%;
	height: 500px;
	box-shadow: 0px -21px 65px 23px #000000 inset;
}
.hide{
	font-size: 25px;
	font-weight: bold;
	color: grey;
}
.show{
	background-color: #292929;
	color: silver;
	font-weight: bold;
	font-size: 27px;
	border-left: 1px solid #c72107;
}
content{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 450px;
	width: 70%;
	min-height: 300px;
	background-color: #ECEBEB;
	/*border:0.1px solid #c72107;*/
	box-shadow: 0px 39px 100px -19px #000000;
	opacity: 0.9;
	padding:20px 0 120px 0;
}
.reg ul{
    list-style: none;
}
.reg li{
	display: inline-block;
}
.reg li ul{
	position: absolute;
	display: none;
	background-color: #292929;
	border-top:1px solid black;
	width: 150px;
	z-index: 1;
}
.reg input{
	margin:10px;
	background-color: silver;
}
.reg button{
	border: 0;	
	width: 80px;
	height: 30px;
	font-size: 20px;
	background-color: black;
	color: silver;
    border-radius: 4px;
    transition: 0.5s;
}
.reg input:focus{
	outline: none;
}
.reg button:focus{
	outline: none;
}
.reg button:hover{
	background-color: grey;
	border-left:1px solid #c72107;
	color:black;
}
.reg li a{
	font-weight: bold;
	margin-right: 20px;
	height: 33px;
	display: inline-block;
	font-size: 20px;
	padding-left: 15px; 
	color: #696969;
	padding-top: 12px;
	border-left: 1px solid black;
}
.reg a:hover{
	color: white;
}
.reg li:hover ul{
	display: block;
}
.menuLink{
	width: 60%;
	height: 100%;
	display: block;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

.menuLink a{
	position: relative;
	display: inline-block;
	padding: 4px;
	margin: 8px;
	transition: 0.5s;
	border-radius: 4px;
}

.menuLink a:hover{
	background-color: #292929;
	color: silver;
	font-size: 27px;
}
.game{
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	height: 80px;
	width: 700px;
	background-color: #292929;
	border: 2px solid grey;
	border-left: 1px solid #c72107;	
	padding: 5px;
	box-shadow: 0px 0px 22px 0px #000000;
}
.tourn {
	display: inline-block;
	float: left;
	height: 80px;
	width: 200px;	
}
.com{
	display: inline-block;
	height: 80px;
	width: 80px;
	margin-left: 100px;
}
.time{
	position: absolute;
	display: inline-block;
	height: 80px;
	width: 228px;
	text-align: center;
}
.time p{
	display: block;
	margin-top: 30px;
	font-size: 19px;
	font-weight: bold;
	color: silver;     
}
.com2{
	display: inline-block;
	height: 80px;
	width: 80px;
	float: right;
}
footer{
	position: absolute;
	left: 0;
	bottom: 0;
	height: 80px;
	width: 100%;
	background-color: black;
	border-top: 5px solid #c72107;
}
.wrap2{
	height: 100%;
	position: relative;
	min-height: 100%;
	width: 100%;
	background-color: #292929;
}
.registration{
	display: block;
	width: 40%;
	min-height: 300px;
	margin-left: auto;
	margin-right: auto;
	background-color: black;
	margin-top: 100px;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.65);
	padding: 20px 0 50px 0;
}
.registration input,
.registration button{
	display: block;
	height: 35px;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	font-size: 20px;
	border-radius: 4px;
	border: 2px solid black;
}
.registration button{
	background-color: #292929;
	border: 0;
	color: white;
	height: 40px;
}
.registration input,
.registration button:focus{
	outline: none;
}
.headline{
	display: block;
	margin-right: auto;
	margin-left: auto;
	width: 90%;
	height: 50px;
	text-align: center;
	padding: 10px 0px 10px;
	border-bottom: 1px solid red;
	font-size: 45px;
	color: grey;
}
.registration button:hover{
	background-color:grey;
	color: white;
	border-left: 1px solid red;
}
.writeUs,
.calc{
	display: block;
	height: 20px;
	width: 300px;
	color: silver;
	font-size: 20px;
	text-align: center;
	margin-top: 20px;
	cursor: pointer;
}
.inputForm,
.calculator{
	position: absolute;
	left: 20px;
	bottom: 60px;
	background-color: grey;
	min-height: 300px;
	min-width: 300px; 
}
.inputForm input,
.inputForm button,
.calculator input,
.calculator button{
	display: block;
	height: 20px;
	width: 250px;
	margin-left: auto;
	margin-right: auto;
	outline: none;	
}
.inputForm p,
.calculator p{
	display: block;
	width: 270px;
	padding: 5px;
	margin-left: 20px;
}
.inputForm button,
.calculator button{
	margin-top: 20px;
	border:0;
	height: 25px;
	border-radius: 4px;
	font-size: 18px;
}
#exit,
#exit2{
	position: absolute;
	right: 0;
	top: 0;
	height: 10px;
	width: 10px;
	background-color: red;
	color: black;
	border:1px solid black;
	font-size: 1em;
	cursor: pointer;
	text-align: center;
}
#timer{
	position: absolute;
	z-index: 3;
	height: 300px;
	min-width: 300px;
	font-size: 250px;
	color: white;
}